<div class="w-full max-w-5xl mx-auto text-center px-4 sm:px-6">
  <div class="mb-8 mt-5">
    <h2 class="text-4xl font-bold tracking-tighter mb-2 text-text">
      {{ 'dashboard.title' | transloco }}
    </h2>
    <p class="text-muted text-lg mt-5">
      {{ 'dashboard.description' | transloco }}
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 mt-10">
    @for (driver of drivers; track driver.id; let i = $index) {
      <app-car-card
        [driver]="driver"
        [speed]="speeds[i]"
        [carIndex]="i"
      />
    }
  </div>

  <p class="text-center text-muted mt-10 text-sm md:text-base flex items-center justify-center gap-2 ">
    <span class="material-icons-outlined text-base text-destructive">warning</span>
    {{ 'dashboard.warning' | transloco }}
  </p>
</div>
